* {
  box-sizing: border-box;
}

body {
  font-family: "Kulim Park", sans-serif;
}

.first-background {
  background-image: url("images/blurry-sunrise.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 100% 100%;
}

.second-background {
  background-image: url("images/bluesky-grass.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  font-size: 1.25em;
  padding-top: 15px;
}

#input-section {
  padding: 25px 0 25px;
  margin-top: 20%;
  margin-bottom: 20%;
  font-size: 1.75em;
  margin-left: 15%;
  margin-right: 15%;
}

#js-form {
  flex-direction: column;
  align-items: stretch;
}

input[type="text"] {
  border-left: transparent solid 3px;
  border-color: none;
  border-top: none;
  border-right: none;
  border-bottom-color: white;
  font-family: "Kulim Park", sans-serif;
  font-size: 0.95em;
  margin: 8px 3px 40px;
  width: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0);
}

.cursor {
  border-color: #00b0d9;
  animation: blink-empty 1s infinite;
}

@keyframes blink-empty {
  50% {
    border-left: 3px solid black;
  }
}

input[type=text]:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
  padding-left: 3px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

#gobutton {
  background-color: #051b54;
  color: white;
  display: block;
  border-radius: 3%;
  margin-left: 0;
  font-size: 0.9em;
  padding: 10px 40px 10px 40px;
}

#gobutton:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

input[type="submit"],
button.gtbutton {
  display: block;
  border-radius: 3%;
  margin: auto;
  border: 2px solid black;
  padding: 10px 5px;
  font-size: 20px;
  background-color: whitesmoke;
}

button.gtbutton:hover {
  cursor: pointer;
  background-color: rgb(113, 166, 50);
  color: white;
}

#results {
  font-size: 2em;
  margin-left: 15%;
  margin-right: 15%;
}

#timeresults {
  padding: 30px 0 0 0;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

#restart {
  margin-bottom: 20px;
}

p.small {
  font-size: 20px;
}

.error-message {
  color: red;
  margin-top: 20px;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1em;
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  background: white;
}

@media screen and (min-width: 321px) {
  header {
    font-size: 1.5em;
    padding-top: 15px;
  }

  #input-section {
    padding: 25px 0;
    margin-top: 35%;
    font-size: 2em;
    margin-left: 15%;
    margin-right: 15%;
  }
}

  @media screen and (min-width: 500px) {
    #gobutton {
      margin-left: 0;
    }

    #input-section {
      font-size: 2.5em;
      margin: 15% 15% 0 15%;
    }

    input[type="text"][name="name"] {
      width: auto;
    }

    input[type="text"][name="country"] {
      width: auto;
    }

    #sun {
      width: 500px;
      margin-left: -250px;
      position: absolute;
      left: 50%;
      top: -310px;
      z-index: -1;
    }

    header {
      font-size: 1.5em;
    }

    #response {
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    footer {
      display: block;
      position: fixed;
      bottom: 0;
      margin-top: 20px;
      margin-left: 20%;
      margin-right: 20%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  @media screen and (min-width: 900px) {
    #gobutton {
      margin: auto;
    }

    #js-form > div {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    input[type="text"][name="name"] {
      margin: 1px 0 40px 12px;
    }

    input[type="text"][name="country"] {
      margin: 1px 0 40px 12px;
    }

    #input-section {
      font-size: 1.5em;
      margin-left: 18%;
      margin-right: 18%;
      margin-top: 15%;
    }
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  #input-section {
    font-size: 2em;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30%;
  }

  footer {
    font-size: 1.5em;
  }
}
