* {
  box-sizing: border-box;
}

body {
  font-family: "Kulim Park", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.yellow {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 246, 126));
}

#sun {
  width: 300px;
  margin-left: -150px;
  position: absolute;
  left: 50%;
  top: -175px;
  z-index: -1;
}

#input-section {
  flex-direction: column;
  align-items: stretch;
  padding: 25px 0;
  font-size: 2em;
  margin-left: 12%;
  margin-right: 12%;
}

input[type="text"] {
  font-family: "Kulim Park", sans-serif;
  font-size: 0.95em;
  width: 100%;
  margin: 8px 0 30px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
}

#gobutton {
  background-color: black;
  color: rgb(255, 246, 126);
  display: block;
  margin: auto;
  font-size: 0.9em;
  padding: 10px 30px 10px 30px;
}

button:hover {
  cursor: pointer;
}

input[type="submit"],
button.gtbutton {
  display: block;
  margin: auto;
  border: 2px solid black;
  padding: 10px 5px;
  font-size: 20px;
}

#results {
  font-size: 2em;
  margin-left: 15%;
  margin-right: 15%;
}

#timeresults {
  padding: 30px 0 0 0;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

#restart {
  margin-bottom: 20px;
}

p.small {
  font-size: 20px;
}

.error-message {
  color: red;
  margin-top: 20px;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1em;
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

.turnblue {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(104, 156, 224));
}

@media screen and (min-width: 770px) {
  #input-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 2.5em;
    margin: 50px 12% 0 12%;
  }

  input[type="text"][name="name"] {
    width: 200px;
  }

  input[type="text"][name="country"] {
    width: auto;
  }

  /* needs to be a bigger min-width 
  
  #gobutton {
    margin-right: 0;
  } */

  #sun {
    width: 500px;
    margin-left: -250px;
    position: absolute;
    left: 50%;
    top: -310px;
    z-index: -1;
  }

  header {
    font-size: 1.5em;
  }

  #response {
    text-align: center;
  }
}
